.volume {
position: absolute;
top: 56%;
right: 15%;

mat-slider {
    width: 300px;
  }

  ::ng-deep mat-slider {
    --mdc-slider-handle-color : blue !important;
    --mdc-slider-focus-handle-color : blue !important;
    --mdc-slider-inactive-track-color: #ffffff !important;
    --mdc-slider-active-track-color: #ffffff !important
  }
  ::ng-deep .mat-mdc-slider-visual-thumb .mat-ripple {
    display: none !important; 
  }


}